.our-contact{
    font-family: amine;
    margin-top: 65px;
    h1{
        margin: 0;
    }
}
.parent-contact{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.contact-info{
    background-color: $red;
width: 400px;
height: 370px;
border-radius: 15px;
padding: 18px;
}
.localisation{
    i{
        padding: 20px;
        font-size: 40px;
    }
}
.loca{
    border-bottom: 1px solid white;
}
.para-contact{
    p{
        padding-bottom: 18px;
    }
}
.telephone{
    margin-top: 15px;
    border-bottom: 1px solid white;
}
.icone-phone{
    i{
        padding: 22px;
        font-size: 40px;
    }
}
.numero{
    p{
        padding: 10px;
        font-size: 19px;
        margin: 0;
    }
}
.envelope{
    margin-top: 15px;
    
}
.icone-envelope{
    i{
        padding: 22px;
        font-size: 40px;
    }
}
.email{
    p{
        padding: 10px;
        font-size: 19px;
        margin: 0;
    }
}
@media (min-width : 320px) and (max-width : 426px) {
    .our-contact{
        font-family: amine;
        margin-top: 65px;
        h1{
            margin: 0;
        }
        img{
            width: 100%;
        }
    }
    .parent-contact{
        display: flex;
        justify-content: center;
        margin-top: 35px;
    }
    .contact-info{
        background-color: $red;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    padding: 18px;
    }
    .localisation{
        i{
            padding: 20px;
            font-size: 30px;
        }
    }
    .loca{
        border-bottom: 1px solid white;
    }
    .para-contact{
        p{
            padding-bottom: 18px;
            font-size: 15px;
        }
    }
    .telephone{
        margin-top: 15px;
        border-bottom: 1px solid white;
    }
    .icone-phone{
        i{
            padding: 22px;
            font-size: 30px;
        }
    }
    .numero{
        p{
            padding: 10px;
            font-size: 17px;
            margin: 0;
        }
    }
    .envelope{
        margin-top: 15px;
        
    }
    .icone-envelope{
        i{
            padding: 22px;
            font-size: 30px;
        }
    }
    .email{
        p{
            padding: 10px;
            font-size: 17px;
            margin: 0;
        }
    }
}