.section-5{
    background-image: url(../img/testimonials_background.jpg);
    width: 100%;
    
    margin-top: 50px;
    background-blend-mode: hue;
    background-color: rgba(0, 0, 0, 0.582);
}
.client-class{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    
}
.testimonials{
    font-family: amine;
    text-align: center;
   h1{
    padding-top: 65px;
   }
}
.face-client{
    img{
        width: 180px;
        border: 5px solid white;
        border-radius: 50%;
    }
}
.client-info{
    width: 450px;
    border: 1px solid white;
    border-radius: 10px;
}
// !start mediaQ for phone----------------------------------------------------------------------------->
@media (min-width : 320px) and (max-width : 426px) {
    .section-5{
        background-image: url(../img/testimonials_background.jpg);
        width: 100%;
        
        margin-top: 50px;
        background-blend-mode: hue;
        background-color: rgba(0, 0, 0, 0.582);
    }
    .intro-mobile{
        display: flex;
        justify-content: center;
    }
    .client-class{
        margin-top: 50px;
        display: block;
        justify-content: space-around;
        
    }
    .testimonials{
        font-family: amine;
        text-align: center;
        img{
            width: 180px;
        }
       h1{
        padding-top: 65px;
       }
    }
    .face-client{
        img{
            width: 170px;
            border: 5px solid white;
            border-radius: 50%;
            margin: 20px 0;
        }
    }
    .client-info{
        width: 250px;
        border: 1px solid white;
        border-radius: 10px;
        margin: 20px 0;
    }
}
// !end mediaQ for phone----------------------------------------------------------------------------->
// !start mediaQ for tablet----------------------------------------------------------------------------->
@media (min-width : 767px) and (max-width : 1025px) {
    .section-5{
        background-image: url(../img/testimonials_background.jpg);
        width: 100%;
        margin-top: 50px;
        background-blend-mode: hue;
        background-color: rgba(0, 0, 0, 0.582);
    }
    .client-class{
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
       
        
    }
    .testimonials{
        font-family: amine;
        text-align: center;
       h1{
        padding-top: 65px;
       }
    }
    .face-client{
        img{
            width: 150px;
            border: 5px solid white;
            border-radius: 50%;
        }
    }
    .client-info{
        width: 190px;
        border: 1px solid white;
        border-radius: 10px;
    }
}