@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
//! mes variable couleur
$red : #c42d40 ;
$blue : #12355a ;
$green : #0d5d3a ;
//! custom couleur nom pour moi 
$custom-colors : (
    "rouge" : $red ,
    "bleu" : $blue ,
    "vert" : $green ,
);

//! merg
$theme-colors : map-merge($theme-colors , $custom-colors);